<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>sam heckle</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <script type="text/javascript" src="script.js"></script>
  </head>
  <body>
    <nav>
      <div class="name"><h1><a href="/">✧✧✧ sam heckle ✧✧✧</a></h1></div>
      <div class="projects">
        <h3>projects</h3>
        <ul>✧ <a href="/organs">seeing fast and slow</a></ul>
        <ul>✧ <a href="/cal">cal.red</a></ul>
        <ul>✧ <a href="/hngs">HNGS</a></ul>
        <ul>✧ <a href="/limerance">limerance</a></ul>
        <ul>✧ <a href="/forms">forms of relations are wounds ///</a></ul>
        <ul>✧ <a href="/valentine">will u be my valentine?</a></ul>
        <ul>✧ <a href="/thesis">don't look for the love of god (spectulative ritual #2)</a></ul>
        {{!-- <ul>✧ <a href="/blackout2">blackout poetry #2</a></ul> --}}
        <ul>✧ <a href="/pg">personality generator</a></ul>
        <ul>✧ <a href="/linear-reprise">a linear story (reprised)</a></ul>
        <ul>✧ <a href="/pfn">plant finder names</a></ul>
        <ul>✧ <a href="/bedside-bartender">bedside bartender</a></ul>
        <ul>✧ <a href="/scale">scale of emotional burdens</a></ul>
        <ul>✧ <a href="/spectulative-ritual-1">spectulative ritual #1</a></ul>
        <ul>✧ <a href="/pinwheel">pinwheel</a></ul>
        {{!-- <ul>✧ pomodoro timer</ul> --}}
        <ul>✧ <a href="/reaction">reaction diffusion</a></ul>
        {{!-- <ul>✧ 2016 election visualization</ul> --}}
      </div>
      <div class="classes">
        <h3>classes</h3>
        <ul>✧ <a href="/classes#net-media">networked media</a></ul>
        <ul>✧ <a href="/classes#creative-code">creative code</a></ul>
        <ul>✧ <a href="/classes#exp-code">experimental coding</a></ul>
        <ul>✧ <a href="/classes#ima-capstone">ima capstone</a></ul>
        <ul>✧ <a href="/classes#creative-ml">creative machine learning</a></ul>
        <ul>✧ <a href="/classes#itp-icm">introduction to computational media</a></ul>
        <ul>✧ <a href="/classes#itp-blursed">blessed/blursed/cursed</a></ul>
      </div>
      {{!-- <div class="talks">
        <h3>talks</h3>
      </div>
      <div class="exhibitions">
        <h3>exhibitions</h3>
      </div> --}}
      {{!-- <div class="research">
        <h3>research (wip)</h3>
        <ul>✧ markov chains</ul>
        <ul>✧ blackout poetry #1</ul>
      </div> --}}
      <div class="about">
        <h3>about</h3>
        <ul>✧ <a href="https://samheckle.github.io/projects/" target="_blank">blog</a></ul>
        <ul>✧ <a href="/bio">bio</a></ul>
        <ul>✧ <a href="/resume">cv</a></ul>
      </div>
    </nav>

    {{{body}}}

  </body>
</html>