<div class="content classes">
  <h4>classes</h4>
  <div id="class-filter">
    {{!-- <a href="/classes?sem=spring24">spring 2024</a>
    <a href="/classes?sem=fall23">fall 2023</a> --}}
  </div>
  <div class="text">
    
    <div id="exp-coding">

    </div>
  </div>
</div>