html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: monospace;
  background-color: black;
  color: white;
  overflow: clip;
}

nav {
  padding: 10px;
  width: 20%;
  border-right: solid white 2px;
  height: 100%;
}

nav ul {
  margin: 0;
  margin-bottom: 3px;
  padding-left: 20px;
}

h1,
h3 {
  box-shadow: 3px 4px 3px yellow;
  padding: 3px 20px;
  border: 1px solid white;
}
h1 {
  display: block;
  text-align: center;
}
h3 {
  display: inline-block;
}
a {
  color: white;
}

/* per page styling */
.content, .play{
  position: absolute;
  top: 0;
  left: calc(20% + 24px);
  width: calc(90% - (20% + 24px + 50px));
  padding-left: 50px;
  overflow: auto;
  height: 100%;
}
.play{
  color: black;
  max-height: 100%;
  overflow: clip;
}
.content h4{
  font-size: 24px;
  margin-bottom: 5px;
}
.content a{
  margin-bottom: 10px;
  background-color: yellow;
  color: black;
  font-size: 13pt;
}
.content .iframe{
  /* text-align: center; */
}
.iframe > iframe {
  width: 90%;
  height: 500px;
}
.cover-images{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid yellow;
  width: 90%;
  margin-bottom: 10px;
  justify-content: space-between;
}
.cover-images img{
  max-width: calc(100%/3 - 10px);
  object-fit: cover;
}
.pg > img{
  max-width: calc(100%/2 - 10px);
}
.cover-images > .two-image-row{
  max-width: calc(100%/2 - 10px);
}
.image-container{
  width: 100%;
  height: 100%;
}
.image-container > .full-image-row{
  width: 100%;
  max-width: 100%;
}

@media (min-width: 320px) {
}

@media (min-width: 1025px) {
}
