<html>
  <head>
    <title>📇</title>
    <link href="biz-card.css" rel="stylesheet" />
  </head>
  <body>
    <div class="biz-card">
      <div class="name"><h1><a href="/">✧✧✧ sam heckle ✧✧✧</a></h1></div>
      <div class="now">
        <em>NOW:</em><ul><a href="https://elo2025.sched.com/event/af66546f9da6541a74409ff23b979518">speaking sunday 7/13 at 1.15pm ET</a> </ul>
        <hr>
        <em>TEACHING:</em>
        <div class="schools">
        <ul>✧ NYU </ul>
        <ul>✧ SVA </ul>
        <ul>✧ The New School </ul>
        <ul>✧ CUNY Hunter </ul>
        </div>
        <hr>
        <em>LIVING:</em><ul>✧ Brooklyn, NY </ul>
        <hr>

      <div class="interests">
        <em>RESEARCH:</em>
        <ul>✧ ethical uses of networks</ul>
        <ul>✧ speculative rituals</ul>
        <ul>✧ creative coding</ul>
      </div>
      <hr>
      </div>

    <div><em>CONTACT:</em></div>
      <div class="email">sam.heckle(at)nyu.edu</div>
      <h3><a href="https://www.instagram.com/samanthiik/">instagram</a></h3>

      <h3><a href="https://www.are.na/sam-heckle/channels">are.na</a></h3>
      <h3><a href="https://bsky.app/profile/smarmy.bsky.social">bsky</a></h3>
      <h3><a href="https://discord.com/users/smarmy#3287">discord</a></h3>

      <h3><a href="https://samheckle.com">website</a></h3>
    </div>
  </body>
</html>