<div id="blackout2" class="content">
    <h4>bedside bartender</h4>
    <div class="cover-images">
        <img class="two-image-row" src="assets/bedside_bartender/blinking.gif">
        <img class="two-image-row" src="assets/bedside_bartender/3Quater.png">
        <img class="two-image-row" src="assets/bedside_bartender/Side.png">
        <img class="two-image-row" src="assets/bedside_bartender/Ortho.png">
    </div>
</div>