<div id="blackout2" class="content">
    <h4>blackout poetry #2</h4>
    <a href="https://samheckle.github.io/hosted/gen-blackout-poetry/">  ✧✧✧ interact with me ✧✧✧ </a> 
    <div class="cover-images">
        <img src="assets/blackout2/1.png">
        <img src="assets/blackout2/2.png">
        <img src="assets/blackout2/3.png">
    </div>
</div>