<div id="cal-red" class="content">
  <h4>cal.red</h4>
  👉
  <a href="https://cal.red/"> ✧✧✧ interact with me ✧✧✧ </a>
  👈

  <div class="footer full">
    <div class="date">april 2025</div>
    <div class="tools">javascript, express.js, node.js</div>
  </div>
  
    <div class="cover-images">
        <div class="image-container"><img
        class="full-image-row"
        src="/assets/cal-red.png"
      /></div>
    </div>


  <div class="description">
    <div class="row">

    <div class="desc-text">

        An event site for NYC-based events. This is a crowd sourced listings page. 

        <br>

        I specifically worked on the full-stack engineering, along with construction of the dev-ops hosting on DigitalOcean. Connected the front- and back-end components using Express.js, Node.js, and EJS. 
      <ul>✧ 
    Created with
    <a href="https://theo.land/">@theo</a>
    and
    <a href="https://haiderriazkhan.com/">@haider</a>
    <br /></ul>
        </div>
        <img src="/assets/cal-red-credits.png" />
    </div>

  </div>
</div>