<div id="limerance" class="content">
    <h4>limerance </h4>
    👉 <a href="https://samheckle.github.io/limerence/public/">  ✧✧✧ interact with me ✧✧✧ </a>  👈

    <div class="footer full">
        <div class="date">may 2023</div>
        <div class="tools">p5.js</div>
    </div>
    <div class="cover-images">
        <div class="image-container"><img
        class="full-image-row"
        src="assets/limerance.png"
      /></div>
    </div>
</div>