<link
  rel="stylesheet"
  href="linear_story/interpreter/glkote.css"
  type="text/css"
/>
<link
  rel="stylesheet"
  href="linear_story/interpreter/dialog.css"
  type="text/css"
/>
<script
  src="linear_story/interpreter/jquery-1.11.2.min.js"
  type="text/javascript"
></script>
<script
  src="linear_story/interpreter/glkote.min.js"
  type="text/javascript"
></script>
<script
  src="linear_story/interpreter/quixe.min.js"
  type="text/javascript"
></script>

<script
  src="linear_story/interpreter/resourcemap.js"
  type="text/javascript"
></script>

<script type="text/javascript">
  game_options = { image_info_map: 'StaticImageInfo', // image data is here, not
  in blorb use_query_story: false, set_page_title: false, inspacing: 0, // gap
  between windows outspacing: 0 // gap between windows and edge of gameport };
</script>

<script
  src="linear_story/interpreter/A Linear Story.gblorb.js"
  type="text/javascript"
></script>
<div class="content">

  <h4 class="linear-reprise-title">a linear story (reprise)</h4>
  <div class="footer">
    <div class="date">feb 2022</div>
    {{!-- <div class="blog"><a
        href="https://samheckle.github.io/projects/generated-personality/"
        target="_blank"
      >blog</a></div> --}}
    <div class="tools">python, tracery, flask</div>
  </div>
  <div class="play" style="position: absolute;top: 100px;width: 90%;left: 45px;height: 550px;">
    <div class="container">
      <div class="links">
        <div class="smalltitle">A Linear Story</div>
      </div>

      <div id="gameport">
        <div id="windowport">
          <noscript><hr />
            <p>You'll need to turn on Javascript in your web browser to play
              this game.</p>
            <hr /></noscript>
        </div>
        <div id="loadingpane">
          <img src="linear_story/interpreter/waiting.gif" alt="LOADING" /><br />
          <em>&nbsp;&nbsp;&nbsp;Loading...</em>
        </div>
        <div id="errorpane" style="display:none;"><div
            id="errorcontent"
          >...</div></div>
      </div>

    </div>
  </div>
</div>