<div id="organs" class="content">
  <h4>seeing fast and slow </h4>

  <div class="footer full">
    <div class="date">june 2025</div>
    <div class="blog"><a
        href="https://github.com/samheckle/seeing-fast-and-slow"
        target="_blank"
      >blog</a></div>
    <div class="tools">upholstered cotton on foam, Google Pixel 3, eink, ESP-32,
      javascript
    </div>
  </div>
  <div class="description">
    <div class="row">
    <img src="/assets/organs-empty.png" />
    <div class="desc-text">
        A digital sculpture that focuses on two different frame rates on two screens. The "fast" screen is a series of overwhelming content, curated by different algorithmic labels, such as "feminist", "cooking", "shitposting" etc. The "slow" screen, over the course of 24 minutes, writes poetry about the content on the "fast" screen. On the "fast" screen, each minute the category of content changes, along with the text on the "slow" screen to create a cohesive poem. 

        <br>
        
        The physical sculpture comprises of an old recycled Google Pixel 3 as the "fast" screen and the "slow" screen is a 1.54in e-ink display. The two screens are embedded in an upholstered fabric housing, surrounded by braided vinyl tubing. 
    </div>
    </div>
    <div class="row">

    <div class="desc-text">
      <ul>✧ exhibited at the
        <a
          href="https://wiki.nycresistor.com/wiki/NYCR_2025_The_Interactive_Show#sam_heckle,_Seeing_Fast_and_Slow"
        >NYC Resistor Show</a></ul>
      <ul>✧ photos lovingly taken by
        <a href="https://www.tessabury.com/">Tessa Bury</a></ul>
        </div>
        <img src="/assets/organs-me.jpg" />
    </div>

  </div>
</div>