<div id="pinwheel" class="content">
    <h4>pinwheel</h4>
    <div class="cover-images">
        
        <div class="image-container"><img class="full-image-row" src="assets/pinwheel.png"></div>
    </div>
</div>