<div id="scale" class="content">
    <h4>scale of emotional burdens</h4>
    <div class="cover-images scale">
        <img class="" src="assets/scale/1.jpg">
        <img class="" src="assets/scale/3.png">
        <img class="" src="assets/scale/2.jpg">
    </div>
    <div class="footer">
      <div class="date">sept 2021</div>
      <div class="tools">arduino, acrylic, led screen</div>
    </div>
</div>