<div id="blackout2" class="content">
    <h4>scale of emotional burdens</h4>
    <div class="cover-images">
        <img class="two-image-row" src="assets/scale/1.jpg">
        <img class="two-image-row" src="assets/scale/2.jpg">
        <img class="single-image-row" src="assets/scale/3.jpg">
    </div>
</div>