<div id="spec-ritual-1" class="content">
    <h4>speculative ritual #1</h4>
    <div class="cover-images">
        
        <img class="two-image-row" src="assets/spec-ritual-1/4.gif">
        <img class="two-image-row" src="assets/spec-ritual-1/1.png">
        <img class="two-image-row" src="assets/spec-ritual-1/2.jpg">
        <img class="two-image-row" src="assets/spec-ritual-1/3.png">
    </div>
</div>