<div id="valentine" class="content">
    <h4>will u be my valentine?</h4>
    <div class="cover-images">
        
        <div class="image-container"><img class="full-image-row" src="assets/valentine.JPG"></div>
    </div>
</div>